.nav-profile-img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

label {
    font-weight: bold;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.required:after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.navigation text-center, .create_category {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    word-wrap: break-word;
}

