{% extends 'base.html.twig' %}

{% block title %}{{ 'label.top_recipes'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label.top_recipes'|trans }}</h1>

    <ul>
        {% for recipe in recipes %}
            <li><a href="{{ path('recipe_show', {'id': recipe.id}) }}">{{ recipe.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
