<form action="{{ path('avatar_delete', {'id': avatar.id}) }}" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avatar.id) }}">
    <button type="submit">Usuń Avatar</button>
</form>
